.background-container {
    background-image: url('C:\Hotel\project\public\Images\h4.jpg'); 
    background-size: cover;
    background-position: center;
    height: 100vh; 
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .content {
    text-align: center; 
    color: #fff;
    height: 300px;
    font-size: 25px;
  }
  h2{
    color: white;
  }
  